h3 {
  text-align: center;
  color: darkslategrey;
  font-size: 36px;
  padding-bottom: 15px;
}

.cardss {
  background-color: white;
  border-radius: 50px;
}

.row {
  margin-bottom: 15px;
}

.profile-picture {
  text-align: right;
  height: 166px;
  padding-top: 50px;
  padding-right: 20px;
}

.booking-card-link:hover {
  text-decoration: none;
}

.card-picture-rigth {
  height: 166px;
}
