.label-form {
  color: white;
}

.input-form {
  border-radius: 10px;
}

.place-holder-form {
  color: black;
}

.form {
  background-color: white;
  border-radius: 11px;
  padding: 0px 19px 28px 19px;
}

.button {
  margin-top: 22px;
}
