/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 * {
   margin: 0;
   padding: 0;
 }

 body {
  overflow-x: hidden;
  // background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  background-color: #eeeeee;
}

p, h1, h2, h3 {
  color: white;
}

.banner {
  color: white;
  text-align: center;
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  // height: 100vh;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

.btn-go {
  padding: 14px 24px;
  border: 0 none;
  border-radius: 10%;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: white;
  color: $green;
}

.btn-go:focus, .btn-go:active:focus, .btn-go.active:focus {
  outline: 0 none;
}


.btn-go:hover, .btn-go:focus, .btn-go:active, .btn-go.active, .open > .dropdown-toggle.btn-go {
  background: $green;
  color: white;
}

.btn-go:active, .btn-go.active {
  background: #007299;
  box-shadow: none;
}

.video-bg{
  position: absolute;
  z-index: -99;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

iframe{
  width: 100%;
}
