<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo"><a href="#"> <%= image_tag "logo.png", class: "footer-logo" %> </a></h2>
      </div>
      <div class="col-sm-2">
        <h5>Blablabla</h5>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">S'inscrire</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>A propos</h5>
        <ul>
          <li><a href="#">Bliblabli</a></li>
          <li><a href="#">Blibloubla</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <button type="button" class="btn btn-default">Contact</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Pianow </p>
  </div>
</footer>
