<%= form_tag(pianos_path, :method => "get")do %>
  <div class="flexbox">
    <%= text_field_tag :search, params[:search], placeholder: "Entrez une adresse", class: "navbar-wagon-search-input" , id: "search_place" %>
    <%= button_tag(type: "submit", class: "btn btn-info btn-lg") do %>
      <i class="glyphicon glyphicon-search" style="color: #00CC7E"></i>
    <% end %>
  </div>
<% end %>

