<div class="banner">
  <div class="banner-content">
    <h1>Pianow</h1>
    <p>Rent a pia<strong>now</strong></p>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-offset-3">
          <div id="custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="form-control input-lg" placeholder="Steinway, Yamaha..." />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                <i class="glyphicon glyphicon-search" style="color: #00CC7E"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
