@import "utilities";
@import "footer";
@import "navbar";



.row {
  color: white;
  width: 800px;
  margin: auto;
  border: 1px white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.row h2 {
  font-size: 24px;
  font-style: italic;
}

.row h3 {
  font-size: 18px;
}
