<h1>Dashboards#dashboard</h1>
<p>Find me in app/views/dashboards/dashboard.html.erb</p>

<h2>Dashboard de <%= current_user.email %></h2>

<% if current_user.pianos.size == 0 %>
  <p>Vous n'avez pas encore mis en ligne de piano</p>
<% else %>
  <% current_user.pianos.each do |piano| %>
    <p><%= piano.title %></p>
  <% end %>
<% end %>

<% if current_user.bookings.size == 0 %>
  <p>Vous n'avez pas encore de réservations</p>
<% else %>
  <% current_user.bookings.each do |booking| %>
    <h5 class="white">Booking numéro <%= booking.id %></h5>
    <p><%= Piano.find(booking.piano_id).title %></p>
  <% end %>
<% end %>



