.card-picture {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  background-position: center;
}

.card-category {
  position: absolute;
  text-align: center;
  color: white;
  top: 20px;
  left: 40px;
  font-size: 20px;
  font-style: bold;
  text-transform: uppercase;
}

.card {
  background-color: white;
  color: #162C46;
  padding-bottom: 25px;
}

.card-description {
  padding: 20px;
  padding-bottom: 40px;
  text-align: justify;
  text-align: center;
}

.card-description h1 {
  color: #162C46;
}

.card-description h2 {
  color: #162C46;
  font-size: 20px;
  font-weight: bold;
}

.card-description h3 {
  color: #162C46;
  font-family: times;
}

.card-description h4 {
  color: #162C46;
  font-size: 16px;
  font-family: times;
  font-style: italic;
  padding: 20px 40px 10px 40px;
  text-align: justify;
}

.btn-black {
  background-color: white;
  color: #162C46;
  width: 80px;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 50px;
  border: 1px solid #ccc;
  text-decoration: none;
  font-weight: bold;
}

.btn-black:hover {
  background-color: #00CC7E;
  color: white;
  text-decoration: none;
  border: 1px solid #00CC7E;

}

.comments {
  padding: 60px;
  margin-top: 50px;
}

a {
  color: #00CC7E;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: #00CC7E;
  }
}
