.container {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 1200px;
}

.cards-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.cards {
  box-shadow: 1px 1px 1px lightgrey;
}

.cards-picture {
  background-size: cover;
  height: 250px;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.cards-info {
  background-color: white;
  padding: 5px;
  border-radius: 0 0 2px 2px;
}

.cards-description {
  display: flex;
  font-size: 16px;
}

.cards-description p {
  color: black;
}

.cards-details p {
  color: black;
}

.cards-ranking p {
  color: black;
}

.cards-details {
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  color: black;
}

.cards-ranking {
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  color: black;
}

h1 {
  padding: 15px;
}

.fa-star {
  color: #00CC7E;
}

p {
 margin: 5px;
 color: black;
}

.fix {
  height: 100%;
}

.scroll {
  overflow: scroll;
}

.wrapper {
  height: 100vh;
}
