.cards-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.cards {
  box-shadow: 1px 1px 1px lightgrey;
  margin-bottom: 30px;
}

.cards-picture {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 2px 2px 0 0;
  transition: all ease 0.9s;
  position: relative;
}

.cards-info {
  background-color: white;
  padding: 20px 15px 15px 15px;
  border-radius: 0 0 2px 2px;
  position: relative;
}

.cards-description {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.cards-description p {
  color: black;
  font-size: 24px;
}

.cards-description #price {
  color: #00CC7E;
}

.cards-description .price #euro {
  font-size: 14px;
}

.cards-details p {
  color: black;
}

.cards-ranking p {
  color: black;
}

.cards-details {
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  color: black;
}

.cards-ranking {
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  color: black;
}

h1 {
  padding: 15px;
}

.fa-star {
  color: #00CC7E;
}

p {
 margin: 5px;
 color: black;
}

.fix {
  height: 100%;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.cards-container {
  height: 100%;
  overflow: scroll;
  flex: 0 0 60%;
  padding: 0 30px;
  padding-top: 12px;
}

.map-container {
  height: 100%;
  flex: 0 0 40%;
  position: sticky;
}

.image-zoom {
  height: 250px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-zoom:hover {
  .cards-picture {
    transform: scale(1.2);
  }
}

.euro {
  font-size: 14px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: #00CC7E 2px solid;
}

.cards-avatar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.wishlist {
  position: absolute;
  bottom: 30px;
  right: 30px;
  i {
    font-size: 30px;
  }
}

.heart {
  height: 30px;
  width: 30px;
}
